's3' => {
  'bucket' => "{{ gitlab_object_storage_bucket_names['registry'] }}",
  'region' => '{{ aws_region }}',
  'chunksize' => {{ (gitlab_object_storage_bucket_names['registry'] | int) * 1024 * 1024 }}
}
